/* navbar */

.navbar-brand {
    font-size: 2em;
    word-spacing: -2.5px;
}

nav a {
    font-size: 20px;
    margin-right: 5px;
}

/* navbar */

/* about */

.myParagraphs p, .myParagraphs li {
    font-size: 18px;
    line-height: 30px;
}

.myParagraphs span {
    margin-left: 40px;
    margin-top: 20px;
}
/* about */

/* what I do */

/* what I do */
