/* navbar */

nav {
    background-color: mediumturquoise;
    -webkit-box-shadow: 0 4px 4px -2px lightgray;
    -moz-box-shadow: 0 4px 4px -2px lightgray;
         box-shadow: 0 4px 4px -2px  lightgray;
}

.navbar-brand {
    font-size: 2em;
    word-spacing: -2.5px;
}

nav a {
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

a:hover {
    font-weight: bold !important;
    text-decoration: none;
}

/* navbar */

/* about */

.myParagraphs p, .myParagraphs li {
    font-size: 18px;
    line-height: 30px;
}

.myParagraphs span {
    margin-left: 40px;
    margin-top: 20px;
}

#about a {
    color: mediumturquoise;
    font-weight: bold;
}

#about a:hover {
    color: turquoise;
    font-weight: bold;
}

#about-mobile span {
    margin-left: 40px;
}

/* about */

/* what I do */

#what-I-do {
    background-color: whitesmoke;
}

hr {
    width: 75%;
}

/* what I do */

/* projects */

#projects li {
    list-style-type: none;
    font-size: 18px;
}

#project-links a {
    color: mediumturquoise;
    font-weight: bold;
}

#project-links a:hover {
    color: turquoise;
}

/* projects */

/* contact/footer */

footer {
    background-color: mediumturquoise;
}

footer p {
    color: black;
}

/* contact/footer */